<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<hr style="color: rgb(38, 222, 255);">
<br />
<br />
<div class="cont">
  <h1 class="proye">Proyectos</h1>
  <br />
  <br />
  <div class="div">
    <h3 class="title">Proyecto ID for Ideas</h3>
    <p class="info">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, cumque.
      Fugiat quidem voluptatibus fugit, porro voluptatem voluptatum facilis enim
      cumque eos accusantium voluptates saepe provident cum laudantium veritatis
      dolorem? Odit! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Aliquam dolorem aspernatur assumenda? Culpa voluptas officia libero alias.
      Voluptas tempora, consectetur distinctio culpa iste facere! Quibusdam sit
      sapiente assumenda nihil corrupti!
    </p>
    <img src="../../assets/img/Rojo.jpg" class="img1" />
  </div>
  <br />
  <hr />
  <br />
  <div class="div">
    <h3 class="title">Proyecto ID for Ideas</h3>
    <p class="info">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, cumque.
      Fugiat quidem voluptatibus fugit, porro voluptatem voluptatum facilis enim
      cumque eos accusantium voluptates saepe provident cum laudantium veritatis
      dolorem? Odit! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Aliquam dolorem aspernatur assumenda? Culpa voluptas officia libero alias.
      Voluptas tempora, consectetur distinctio culpa iste facere! Quibusdam sit
      sapiente assumenda nihil corrupti!
    </p>
    <img src="../../assets/img/Rojo.jpg" class="img1" />
  </div>
  <br />
  <hr />
  <br />
  <div class="div">
    <h3 class="title">Proyecto ID for Ideas</h3>
    <p class="info">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, cumque.
      Fugiat quidem voluptatibus fugit, porro voluptatem voluptatum facilis enim
      cumque eos accusantium voluptates saepe provident cum laudantium veritatis
      dolorem? Odit! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Aliquam dolorem aspernatur assumenda? Culpa voluptas officia libero alias.
      Voluptas tempora, consectetur distinctio culpa iste facere! Quibusdam sit
      sapiente assumenda nihil corrupti!
    </p>
    <img src="../../assets/img/Rojo.jpg" class="img1" />
  </div>
  <br />
  <hr style="color: rgb(38, 222, 255);">
  <br />
  <br />
</div>
