<div><button id="volver"><a href="../app/encabezado.component.html">Volver</a></button></div>
    <div id="div1">
        <h1>¡Bienvenido!</h1>
        <form id="form">
            <input type="text" value="Nombre de Usuario" id="input"> <br><br>
            <input type="password" value="Contraseña" id="input"> <br>
            <br>
            <button id="btn">Iniciar Sesicion</button>
            <button id="btn">Registratse</button>
            <br><br>
            <div id="forgt">
                <p id="fgt"><a href="https://www.google.com/" class="_BLANK">Olvide mi contraseña</a></p>
                <p id="fgt"><a href="https://www.google.com/" class="_BLANK">Problemas de Inicio de Secion</a></p>
            </div>
        </form>
    </div>