<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Secion</title>
    <link rel="stylesheet" type="text/css" href="login.component.css">
</head>

<body>

    <div><button id="volver"><a href="../app/encabezado.component.html">Volver</a></button></div>
    <div id="div1">
        <h1>¡Bienvenido!</h1>
        <form id="form">
            <input type="text" value="Nombre de Usuario" id="input"> <br><br>
            <input type="password" value="Contraseña" id="input"> <br>
            <br>
            <button id="btn">Iniciar Sesicion</button>
            <button id="btn">Registratse</button>
            <br><br>
            <div id="forgt">
                <p id="fgt"><a href="https://www.google.com/" class="_BLANK">Olvide mi contraseña</a></p>
                <p id="fgt"><a href="https://www.google.com/" class="_BLANK">Problemas de Inicio de Secion</a></p>
            </div>
        </form>

    </div>
</body>

</html>