<hr style="color: rgb(38, 222, 255);">
<div id="banner1">
    <P id="titulo"><b class="id">Joel Garbagnate:</b></P><img src="../../assets/img/perfil.jpg" id="perfil1">
</div>
<div>
    <p id="full"><b>Full Stack Developer Jr</b></p>
</div>
<div id="lorem">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam sed eaque ea numquam enim sint nam,
    eveniet est esse id ratione aliquam voluptatibus dolorum velit eius. Molestiae repellat dolores alias. Lorem ipsum
    dolor sit, amet consectetur adipisicing elit. Eum deserunt ab odio in eos, quibusdam totam, illum eius, expedita
    perferendis ex accusantium adipisci magni nesciunt quod rerum impedit ea ducimus.</div>
<app-linea></app-linea>
<br><br>