<h1 class="exp"><b>Experiencia:</b></h1>
<h1 class="exp">Educacion:</h1>
<br>
<br>
<div>
  <div class="par">
    <h4 class="tittle">Tecnico Electro Mecanica</h4>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut optio nobis
        dolore dolorum cupiditate tempora harum doloremque quas illo! Odio quasi
        rerum incidunt distinctio accusamus reiciendis! Laudantium vel qui
        asperiores. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Deserunt molestias soluta eius quaerat! Doloremque minima at dolore sit
        quo ad cumque enim nihil, non aut vel assumenda doloribus, veritatis
        repellendus? Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Odit, est ab. Quidem temporibus tempora sunt minima aperiam neque.
        Praesentium ipsa ducimus, excepturi a quis reprehenderit libero officiis
        cumque vero nesciunt!
    </p></div>
    <img src="../../assets/img/Violeta.jpg" class="img" />
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<hr>
<br>
<br>
<div>
  <div class="par">
    <h4 class="tittle">Tecnico Electro Mecanica</h4>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut optio nobis
        dolore dolorum cupiditate tempora harum doloremque quas illo! Odio quasi
        rerum incidunt distinctio accusamus reiciendis! Laudantium vel qui
        asperiores. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Deserunt molestias soluta eius quaerat! Doloremque minima at dolore sit
        quo ad cumque enim nihil, non aut vel assumenda doloribus, veritatis
        repellendus? Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Odit, est ab. Quidem temporibus tempora sunt minima aperiam neque.
        Praesentium ipsa ducimus, excepturi a quis reprehenderit libero officiis
        cumque vero nesciunt!
    </p></div>
    <img src="../../assets/img/Violeta.jpg" class="img" />
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<hr>
<br>
<br>
<div>
  <div class="par">
    <h4 class="tittle">Tecnico Electro Mecanica</h4>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut optio nobis
        dolore dolorum cupiditate tempora harum doloremque quas illo! Odio quasi
        rerum incidunt distinctio accusamus reiciendis! Laudantium vel qui
        asperiores. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Deserunt molestias soluta eius quaerat! Doloremque minima at dolore sit
        quo ad cumque enim nihil, non aut vel assumenda doloribus, veritatis
        repellendus? Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Odit, est ab. Quidem temporibus tempora sunt minima aperiam neque.
        Praesentium ipsa ducimus, excepturi a quis reprehenderit libero officiis
        cumque vero nesciunt!
    </p></div>
    <img src="../../assets/img/Violeta.jpg" class="img" />
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<hr>